<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/public/assets/css/app.css">
</head>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="cloud" name="menu-outline"></ion-icon>
                <span>Cerrar</span>
            </div>
        </div>
        
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="#">
                        <ion-icon name="home-outline"></ion-icon>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="swap-horizontal-outline"></ion-icon>
                        <span>Movimientos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="calendar-number-outline"></ion-icon>
                        <span>Programados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="cash-outline"></ion-icon>
                        <span>Ahorro</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="wallet-outline"></ion-icon>
                        <span>Medios</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <span>Spam</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                        <span>Asesórate</span>
                    </a>

                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="usuario">
                
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">financeFocus</span>
                        <span class="email">finance@gmail.com</span>
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>

    </div>


    <main>
        <div class="movements">
            
            <div class="left">
                <h3 class="register.title">Registrar movimiento</h3>
                <div class="register-mov">
                    <div>
                        <input type="text" name="nombredelacaja">
                    </div>
                </div>
               
            </div>
            <div class="right">

            </div>
       </div>

    </main>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/public/assets/js/sideBar.js"></script>
</body>
</html>