<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Estilos.CSS">
</head>
<body>
    <body>
        <div class="menu">
            <ion-icon name="menu-outline"></ion-icon>
            <ion-icon name="close-outline"></ion-icon>
        </div>
    
        <div class="barra-lateral">
            <div>
                <div class="nombre-pagina">
                    <ion-icon id="cloud" name="menu-outline"></ion-icon>
                    <span>Cerrar</span>
                </div>
            </div>
    
            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="#">
                            <ion-icon name="home-outline"></ion-icon>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="swap-horizontal-outline"></ion-icon>
                            <span>Movimientos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                            <span>Programados</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="cash-outline"></ion-icon>
                            <span>Ahorro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="wallet-outline"></ion-icon>
                            <span>Medios</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="alert-circle-outline"></ion-icon>
                            <span>Spam</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                            <span>Asesórate</span>
                        </a>
    
                    </li>
                </ul>
            </nav>
    
            <div>
                <div class="linea"></div>
    
                <div class="modo-oscuro">
                    <div class="info">
                        <ion-icon name="moon-outline"></ion-icon>
                        <span>Dark Mode</span>
                    </div>
                    <div class="switch">
                        <div class="base">
                            <div class="circulo">
    
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="usuario">
    
                    <div class="info-usuario">
                        <div class="nombre-email">
                            <span class="nombre">financeFocus</span>
                            <span class="email">finance@gmail.com</span>
                        </div>
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </div>
                </div>
            </div>
    
        </div>
    
    
        <main>
            <div class="banner">
                <h2>Movimientos</h2>
                <a href="#">Cerrar Sesion</a>
            </div>
            <div class="movements">
    
                <div class="left">
                    <h3 class="register-title">Registrar Movimiento</h3>
                    <form action="Ensayo.HTML" method="post">
                    <div class="register-mov">
                        <label for="">Nombre</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="Nombre del movimiento">
                        </div>
                    </div>
    
                    <div class="register-mov">
                        <label for="">Cantidad</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="$">
                        </div>
                    </div>
    
                    <div class="register-mov">
                        <label for="">Tipo de movimiento</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="Tipo de movimiento">
                        </div>
                    </div>
    
                    <div class="register-mov">
                        <label for="">Categoria</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="Elige la categoria">
                        </div>
                    </div>
    
                    <div class="register-mov">
                        <label for="">¿De donde salio?</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="Elige el medio de pago">
                        </div>
                    </div>
    
                    <div class="register-mov" id="input-final">
                        <label for="">Fecha</label>
                        <div>
                            <input type="text" name="nombredelacaja" placeholder="--/--/----">
                        </div>
                    </div>
    
                    <div class="control-buttons">
                        <button class="buttonClean">Limpiar</button>
                    <button class="buttonAdd">Añadir Nuevo</button>
                    </div>
                </form>
                </div>
                <div class="right">
                    <div class="right-top">
                        <h3> Total Disponible : $728.000 </h3>
                        <div class="porcentajes">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="porcentajes-tasks">
                            <p>Esenciales  <br> $520.000</p>
                            <p>Gastos personales <br> $78.000</p>
                            <p>Ahorro/Inversion <br> $130.000</p>
                        </div>
                    </div>
                    <div class="right-bottom">
                        <h3>Historial movimientos</h3>
                        <div class="metas-general">
    
                            <div class="meta-container">
                                <label>Diciembre</label>
                                <div class="movimientos">
                                    <div class="movimiento-inputs">
                                        <input type="text" placeholder=" ">
                                        <input type="text" placeholder="$ ">
                                    </div>
                                    <div class="movimiento-buttons">
                                        <button>Eliminar</button>
                                        <button>Editar</button>
                                    </div>
                                </div>
                            </div>
    
                            <div class="meta-container">
                                <label>Enero</label>
                                <div class="movimientos">
                                    <div class="movimiento-inputs">
                                        <input type="text" placeholder=" ">
                                        <input type="text" placeholder="$ ">
                                    </div>
                                    <div class="movimiento-buttons">
                                        <button>Eliminar</button>
                                        <button>Editar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="meta-container">
                                <label>Febrero</label>
                                <div class="movimientos">
                                    <div class="movimiento-inputs">
                                        <input type="text" placeholder=" ">
                                        <input type="text" placeholder="$ ">
                                    </div>
                                    <div class="movimiento-buttons">
                                        <button>Eliminar</button>
                                        <button>Editar</button>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
        </main>
    
    
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="assets/js/sideBar.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>