<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/navbar.css">
    <link rel="stylesheet" href="/public/assets/css/footer.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <a href="#">
            <img src="/public/assets/img/logo.png" width="150px" alt="Logo sitio web">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/views/index.html">Inicio</a></li>
        <li><a href="/views/aboutUs.html">Nosotros</a></li>
        <li><a id="register" href="/views/login.html">Registrate</a></li>
        <li><a id="login" href="/views/login.html">Inicio de sesión</a></li>
    </ul>
</nav>

    
    <section>
        <div class="body1">
            <div class="content1">
                <h1 class="title">
                    Gestiona todas tus
                    <div class="subtitle">
                    finanzas en un solo lugar
                    </div>
                </h1>
                <p class="descp">
                    Queremos facilitarte la vida poniendo a tu disposición la
                    herramienta más amigable para el control de finanzas personales.
                </p>
                <div class="content-links">
                    <li><a id="register" href="/views/login.html">Registrate</a></li>
                    <li><a id="login" href="/views/login.html">Inicio de sesión</a></li>
                </div>
        
                
                </div>
                <div class="content2">
                     
                <div class="img">
                    <img src="/public/assets/img/devices.png" width="591" height="502" alt="">
                </div>
            </div>
        </div>    
        </section>
        </div>
    </main>
    <section>
        <div class="body2">
            <h1 class="title2">
                Haz tus gastos de manera conciente
                y toma el control de tus finanzas   
            </h1>
            <div class="cards">
                <div class="card">
                    <img class="card-img" src="/public/assets/img/card1.png" width="50px" alt="">
                    <h1 class="title-card">Crea presupuestos</h1>
                    <p>Planea tu mes y no dejes que los gastos te cojan desprevenido</p>
                </div>
                <div class="card">
                    <img class="card-img" src="/public/assets/img/card2.png" width="50px" alt="">
                    <h1 class="title-card">Metas de ahorro</h1>
                    <p>Cumple tus metas 
                        financieras, ahorra 
                        y lleva un control de ello</p>
                </div>
                <div class="card">
                    <img class="card-img"src="/public/assets/img/card3.png" width="50px" alt="">
                    <h1 class="title-card">Asesórate</h1>
                    <p>Tendremos para ti 
                        recursos y asesoramiento
                        para que lo hagas todo 
                        de la mejor manera</p>
                </div>
            </div>
            
        </div>
    </section>
    <footer>
        <div class="footer-content">
          <div class="footer-logo">
            <img src="/public/assets/img/logo.png" width="150px" alt="Logo sitio web">
          </div>
          <div class="footer-links">
            <ul>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-linkedin"></a>
              
            </ul>
          </div>
          
        </div>
        <div class="footer-copyright">
          <p>&copy; 2024  Patrocinado por: CESDE - Globant.</p>
        </div>
      </footer>
</body>
</html>