@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* body 1  */

.body1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #888888;
    background-color: #01060c; 
   
    
}



.content1{
    
    width: 710px;
    margin-left: 10px;
 
    
}

.title{
    color: #888888;
    font-size: 60px;
    font-weight: 400;
}
.subtitle{
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
}

.descp{
    font-size: 25px;
    font-weight: 400;
    color: #888888;
    margin-top: 20px;
}


.content2{
    margin-top: 114px;
    overflow: hidden;
    padding-bottom: 150px;
}

 /* body2 */

.body2{
    background-color: #041023;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
}

.title2{

    color: #ffffff;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 46px;
    width: 750px;
  
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 150px;
    
   
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin: 75px;
    padding-top: 40px;
    border:4px black;
    background-color: #1d2739;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
  transform: scale(1.1); /* Zoom in on hover */
}

.card-img{
    margin-left: 30px;
}

.title-card{
    font-size: 20px;
    padding-top: 10px;
    
}


  @media screen and (max-height:926px) {

    .body1{
      justify-content: center;
      align-items: center;
    }

    .title2, .cards{
      justify-content: center;
      align-items: center;
    }

    .content1{
      margin-top: 150px;
    }
  }